{{/*
Copyright (c) 2025 VH & Co BV. Licensed under the Business Source License 1.1.
*/}}
{{- if .Values.zitadel.bundled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "stackweaver.fullname" . }}-zitadel
  labels:
    {{- include "stackweaver.labels" . | nindent 4 }}
    app.kubernetes.io/component: zitadel
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "stackweaver.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: zitadel
{{- end }}
